<div class="container">
    <div class="bar">
        <img src="../../../assets/images/motologo.png" alt="noimage" srcset="" height="29px">
        <div class="linksA">
            <p>Join the conversation: </p>
            <img src="../../../assets/images/links.png" alt="noimage" srcset="" height="29px">
        </div>
    </div>
    <div class="copyright">
        <p>MOTOROLA, MOTO, MOTOROLA SOLUTIONS and the Stylized M Logo are trademarks or registered trademarks of Motorola Trademarks Holdings, LLC and are used under license. All other trademarks are the property of their respective owners.</p>
        <p>® 2022 Motorola Solutons, Inc. All right reserved.</p>
        <div class="linksB">
            <p>Join the conversation: </p>
            <img src="../../../assets/images/links.png" alt="noimage" srcset="" height="29px">
        </div>
    </div>
</div>
