<mat-grid-list cols="12" [rowHeight]="isMobile? 60:80">
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="10">
        <mat-toolbar class="navbar">                      
            <img src="../../../assets/images/Motorola_Solutions_Logo.svg.png" alt="no image provide" height="36px">
            <div>
                <span class="blueFont responsiveHide">Goverment Grants</span>
                <a mat-raised-button href="#" target="_blank" class="button responsiveHide"> CHAT WITH US </a>           
            </div>
            <mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
        </mat-toolbar>
    </mat-grid-tile>

</mat-grid-list>
