.background{
    height: fit-content;
    background: #FAFAFA;
    text-align: center;
    color: #323232;  
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: clamp(26px, 2.71vw, 28px);
    margin: 60px 2% 8px 2%;; 
}

p{
    font-size: clamp(16px, 1.28vw, 18px);
    margin: auto;
    margin-bottom: 58px;
    text-align: center;
    line-height: 1.5em;
    width: clamp( 327px, 47vw, 658px) ;
}

.container {
    display: grid;
    grid-gap: 54px;
    width: 90%;
    margin: 15px auto;
    grid-template-columns: repeat(auto-fit, 262px);
    justify-content: center;
    padding-bottom: 60px;
}

.item{
    height: 318px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img{
    background-color: #323232;
}

.name{
    font-size: 20px;
    width: 261px;
    margin: 43px 10px 12px 10px;
}

.link{
    color: #005EB8;
    font-size: clamp(16px, 1.28vw, 18px);
}