<!-- NavBar component responsive -->
<!-- <app-header></app-header>  -->

<!-- Goverment Grants or main page section  -->
<!-- <app-government-grants></app-government-grants> -->

<!-- Grand assistance by products section incluides carrousel please play arround it !!  -->
<!-- <app-grant-products></app-grant-products> -->

<!-- Grant Assistance By Industry section uses a modern responsive behavior letters and boxes are full responsive-->
<!-- <app-grant-industry></app-grant-industry> -->

<app-grant-resources></app-grant-resources>