<!-- NavBar component responsive -->
<app-header></app-header> 

<!-- Goverment Grants or main page section  mediaqueries responsive mostly-->
<app-government-grants></app-government-grants>

<!-- Grand assistance by products section incluides carrousel please play arround it !!  -->
<app-grant-products></app-grant-products>

<!-- Grant Assistance By Industry section uses a modern responsive behavior letters and boxes are full responsive-->
<app-grant-industry></app-grant-industry>

<!-- Grant resources section uses a modern responsive behavior -->
<app-grant-resources></app-grant-resources>

<!-- pending -->
<app-grant-recent></app-grant-recent>

<!-- Grant partners section -->
<app-grant-partners></app-grant-partners>

<!-- Footer section basic viewport responsive -->
<app-footer></app-footer>

