.container{
    text-align: center;
    height: fit-content;
}

.title{
    font-size: 28px;
    margin: 47px 0px;
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 331px);
    gap: 20px;
    justify-content: center;
    height: fit-content;
    width: 90%;
    margin: 0 auto;
}

.item{
    width: minmax(331px, 353px);
}

.itemLevel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    text-align: left;
    width: clamp(331px, 24vw, 353px);
}

.itemTitle{
    color: #005EB8;
}

.content{
    color: #808080;
}

button{
    background-color: #000;
    color: #fff;
    width: 199px;
    height: 38px;
    border-radius: 41px;
    margin-top: 15px;
}

