.background{
    height: 754px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 76.04%), url(../../../assets/images/bgpagetwo.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lore{
    width: 100vw;
    text-align: center;
    margin-top: 65px;
}

.lore p{
    font-size: 18px;
    color: #000000;
    margin: 20px auto;
    width: 450px;
    height: 56px;
}

.cards{
    height: 566px;
    width: 95vw;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin: 0px auto;
}

.card{
    width: 297px;
    height: 566px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border: 1px solid #EEEEEE;
}

.icon{
    width: 297px;
    height: 154px;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    text-align: center;
    margin: 0px auto;
}

.svg{
    margin: auto;
}

img{
    width: 78px;
    height: 69px;
    font-size: 60px;
    margin: auto 0px;
}

.data{
    width: 297px;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 14px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    font-weight: 400;
    margin: 0px auto;
}

.cardTitle{
    font-size: 23px;
    color: #767676;
    line-height: 28px;
    width: 70%;
    margin: 20px auto 6px auto;
}

.text{
    font-size: 14px;
    color: #323232;
    width: 85%;
    margin: 0px auto;
}

::ng-deep .owl-theme .owl-nav{
    position: relative;
    bottom: 283px;
    display: flex;
    justify-content: space-between;
}

::ng-deep .owl-theme .owl-nav [class*="owl-"]{
    background-color: #00000000;
    color: #005EB8;
    font-size: 70px;
}

::ng-deep .owl-theme .owl-nav [class*="owl-"]:hover{
    background-color: #00000000 !important;
    color: #005EB8;
}

::ng-deep .owl-theme .owl-nav [class*="owl-prev"]{
    position: relative;
    right: 25px;
}

::ng-deep .owl-theme .owl-nav [class*="owl-next"]{
    position: relative;
    left: 25px;
}


@media only screen and (max-width: 534px){
    .lore h1{
        width: 85%;
        text-align: center;
        margin-inline: auto;
    }

    .lore p{
        width: 85%;
        margin: 20px auto;
        
    }
}
